{
	"arrowParens": "avoid",
	"singleQuote": true,
	"jsxSingleQuote": true,
	"tabWidth": 2,
	"trailingComma": "none",
	"semi": false,
	"prowsWrap": "always",
	"printWidth": 80,
	"plugins": ["prettier-plugin-tailwindcss"]
}